<!DOCTYPE html>

<h2>How many tenants do you have?</h2>

<form action="/rentalAgreement" method = 'get'>
  <select name="tenants">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
  </select>
  <br><br>
  <input type="text" name = "address" placeholder="address"><br>
  <input type="submit">
</form>
